@font-face {
    font-family: 'OpenSans-Regular';
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Dawning of a New Day';
    src: url("/fonts/DawningofaNewDay-Regular.ttf") format("truetype");
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Dawning of a New Day, sans-serif;
}

.grid-wrapper {
    display: grid;
    padding: 25px;
    gap: 20px;
}

.header{
    border-bottom: 0.1em solid gray;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    min-height: 50vh;
    justify-content: center;
    background: #F5F6FA;
    gap: 30px;
    padding: 25px;
    background-color: #008080;
}

.card-img {
    width:70%;
    border-radius: 20px;
}

.board {
    display: grid;
    gap: 200px;
    justify-items: center;
    padding: 50px;
}


.header-title {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }

}