<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Akong Pinalangga</title>
    <link rel="stylesheet" href="css/index.css"></link>
<!--    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}"/>-->
</head>
<body>
    <div class="grid-wrapper">
        <header class="header">
            <div class="header-title">
                <h1>Akong Pinalangga</h1>
            </div>
        </header>
        <main  class="main">
            <section class="intro">
                <h2>
                    In the present system of things where there is a price tag on life,
                    I find solace in the capacity of the cats and dogs to be free.
                </h2>
            </section>
            <section class="board">
                <div class="card">
                    <img class="card-img" src="https://ddoo2mtjx0c7b.cloudfront.net/pinalangga/arci.webp"/>
                    <h3>Arci</h3>
                </div>
                <div class="card">
                    <img class="card-img" src="https://ddoo2mtjx0c7b.cloudfront.net/pinalangga/arci.webp"/>
                    <h3>Arci</h3>
                </div>
                <div class="card">
                    <img class="card-img" src="https://ddoo2mtjx0c7b.cloudfront.net/pinalangga/arci.webp"/>
                    <h3>Arci</h3>
                </div>
            </section>
        </main>
        <footer class="footer">
            John Paul - Akong Mga Pinalangga
        </footer>
    </div>
</body>
</html>